@model List<ResultMessageDto>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/MilkyAdmin/Views/Layout/Index.cshtml";
}

@{
    int count = 0;
}
<div class="container-fluid">
    <div class="card-header">
        <h3 class="card-title">
            <b>Message List</b>
        </h3>
    </div>
    <div class="card-body table-responsive p-0">
        <table class="table table-hover text-decoration-none">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Id</th>
                    <th>Full Name</th>
                    <th>Email</th>
                    <th>Subject</th>
                    <th>Content</th>
                    <th>Sending Date</th>
                    <th>Status</th>
                    <th>Update</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    count++;
                    <tr>
                        <td><b>@count</b></td>
                        <td>@item.MessageId</td>
                        <td class="text-danger">@item.FullName</td>
                        <td>@item.Email</td>
                        <td>@item.Subject</td>
                        <td>@item.Content</td>
                        <td>@item.SendingDate</td>
                        <td>@item.IsRead</td>
                        <td>
                            <a href="/MilkyAdmin/Message/UpdateMessage/@item.MessageId" class="btn btn-outline-primary sm">Update</a>
                        </td>
                        <td>
                            <a href="/MilkyAdmin/Message/DeleteMessage/@item.MessageId" class="btn btn-outline-danger sm">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <div style="margin-top:1rem">
            <a href="/MilkyAdmin/Message/CreateMessage" class="btn btn-outline-primary col-md-12">Create New Message</a>
        </div>
    </div>
</div>

