@model List<ResultTeamMemberSocialMediaDto>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/MilkyAdmin/Views/Layout/Index.cshtml";
}

@{
    int count = 0;
}
<div class="container-fluid">
    <div class="card-header">
        <h6 class="card-title">
            <b>TeamMemberSocialMedia List</b>
        </h6>
    </div>
    <div class="card-body table-responsive p-0">
        <table class="table table-hover text-decoration-none">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Id</th>
                    <th>Account Name</th>
                    <th>Acount Url</th>
                    <th>Icon Url</th>
                    <th>Team Member Id</th>
                    <th>Status</th>
                    <th>Update</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    count++;
                    <tr>
                        <td><b>@count</b></td>
                        <td>@item.TeamMemberSocialMediaId</td>
                        <td class="text-danger">@item.AccountName</td>
                        <td>@item.AccountUrl</td>
                        <td>@item.Icon</td>
                        <td>@item.TeamMemberId</td>
                        <td>
                            @if (@item.Status)
                            {
                                <span style="color:green">Activated</span>

                            }
                            else
                            {
                                <span style="color:red">Pacified</span>
                            }
                        </td>
                        <td>
                            <a href="/MilkyAdmin/TeamMemberSocialMedia/UpdateTeamMemberSocialMedia/@item.TeamMemberSocialMediaId" class="btn btn-outline-primary sm">Update</a>
                        </td>
                        <td>
                            <a href="/MilkyAdmin/TeamMemberSocialMedia/DeleteTeamMemberSocialMedia/@item.TeamMemberSocialMediaId" class="btn btn-outline-danger sm">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <div style="margin-top:1rem">
            <a href="/MilkyAdmin/TeamMemberSocialMedia/CreateTeamMemberSocialMedia" class="btn btn-outline-primary col-md-12">Create New TeamMemberSocialMedia</a>
        </div>
    </div>
</div>