@model List<ResultGalleryDto> // Replace with your actual model
@{
    var delayIncrement = 0.2; // Increment for each delay in seconds
    var initialDelay = 0.1; // Initial delay in seconds
    var index = 0;

    var pairs = new List<(string FirstImage, string SecondImage)>
    {
        (Model[4].ImageUrl, Model[0].ImageUrl),
        (Model[1].ImageUrl, Model[5].ImageUrl),
        (Model[6].ImageUrl, Model[2].ImageUrl),
        (Model[3].ImageUrl, Model[7].ImageUrl)
    };
}
<div class="container-xxl py-5 px-0">
    <div class="row g-0">
        @foreach (var pair in pairs)
        {
            var delay = initialDelay + (index * delayIncrement);
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="@delay.ToString("0.0")s">
                <div class="row g-0">
                    <div class="col-12">
                        <a class="d-block" href="@pair.FirstImage" data-lightbox="gallery">
                            <img class="img-fluid" src="@pair.FirstImage" alt="">
                        </a>
                    </div>
                    <div class="col-12">
                        <a class="d-block" href="@pair.SecondImage" data-lightbox="gallery">
                            <img class="img-fluid" src="@pair.SecondImage" alt="">
                        </a>
                    </div>
                </div>
            </div>
            index++;
        }
    </div>
</div>
